<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="hideSideNav = !hideSideNav"><mat-icon>menu</mat-icon></button>
    <h3 class="mt-1">
      {{activeOption}}
    </h3>
    <div class="example-button-container">
    <button mat-mini-fab aria-label="Example icon button with a delete icon" class="mx-3" (click)="open(notescontent, 'xl', 'Add New Note')">
      <mat-icon>add</mat-icon>
    </button>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon mx-2" aria-label="Example icon-button with sunny icon">
        <mat-icon>sunny</mat-icon>
    </button>
    <button mat-icon-button class="example-icon mx-2" aria-label="Example icon-button with bedtime icon">
        <mat-icon>bedtime</mat-icon>
    </button>
    <button mat-icon-button class="example-icon mx-2 refresh-icon" aria-label="Example icon-button with refresh icon">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button class="example-icon mx-2" aria-label="Example icon-button with person icon">
        <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav mode="side" fixedTopGap="56" class="shadow-sm" style="width: 32vh;" [opened]="!hideSideNav">
      <mat-nav-list>
        <a mat-list-item class="m-2 width-auto"
           [class.active]="activeOption === 'Notes'"
           (click)="setActiveOption('Notes')">Notes</a>
        <a mat-list-item class="m-2 width-auto"
           [class.active]="activeOption === 'Reminders'"
           (click)="setActiveOption('Reminders')">Reminders</a>
        <a mat-list-item class="m-2 width-auto"
           [class.active]="activeOption === 'Edit Labels'"
           (click)="open(content, 'sm', 'Edit Labels')">Edit Labels</a>
        <a mat-list-item class="m-2 width-auto" *ngFor="let label of label_lst"
           [class.active]="activeOption === label.name"
           (click)="setActiveOption(label.name)">{{label.name}}</a>
        <a mat-list-item class="m-2 width-auto"
           [class.active]="activeOption === 'Archive'"
           (click)="setActiveOption('Archive')">Archive</a>
        <a mat-list-item class="m-2 width-auto"
           [class.active]="activeOption === 'Trash'"
           (click)="setActiveOption('Trash')">Trash</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- Modal Content Start -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title m-0 px-3" id="modal-basic-title">Edit labels</h5>
      <button mat-icon-button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body m-0 p-0">
      <div class="bg-white p-3 rounded box-shadow">
        <!-- <table class="table table-borderless m-0">
          <thead class="table-light">
          </thead>
          <tbody> -->
            <div class="row my-3 mx-1">
              <div class="mx-1 col-1" style="display: contents;">
                <button mat-icon-button class="icon-cell" *ngIf="isAddLabel" (click)="isAddLabel = !isAddLabel"><mat-icon>close</mat-icon></button>
                <button mat-icon-button class="icon-cell" *ngIf="!isAddLabel" (click)="isAddLabel = !isAddLabel"><mat-icon>add</mat-icon></button>
              </div>
              <div class="mx-1 col p-0">
                <input type="text" class="no-outline input-cell fs-5" placeholder="Create new label" [(ngModel)]="newLabel" [disabled]="!isAddLabel">
              </div>
              <div class="mx-1 col-1" style="display: contents;">
                <button mat-icon-button class="icon-cell" [disabled]="newLabel==null || newLabel==undefined || newLabel==''" (click)="addLabels()" *ngIf="!isAddLabel"><mat-icon> </mat-icon></button>
                <button mat-icon-button class="icon-cell" [disabled]="newLabel==null || newLabel==undefined || newLabel==''" (click)="addLabels()" *ngIf="isAddLabel"><mat-icon>check</mat-icon></button>
              </div>
            </div>
            <div class="row my-3 mx-1" *ngFor="let label of label_lst; let i = index" (mouseover)="label.bln_hovered = true" (mouseout)="label.bln_hovered = false">
              <div class="mx-1 col-1" style="display: contents;">
                <button mat-icon-button class="icon-cell" *ngIf="!label.bln_hovered"><mat-icon>label</mat-icon></button>
                <button mat-icon-button class="icon-cell" *ngIf="label.bln_hovered" (click)="deleteLabel(i)"><mat-icon>delete</mat-icon></button>
              </div>
              <!-- <div class="mx-1 col-1" class="m-0 px-1 input-cell fs-5" id="label-{{label.id}}">{{label.name}}</div> -->
              <div class="mx-1 col p-0" id="label-{{label.id}}">
                <input type="text" class="no-outline input-cell fs-5" placeholder="Create new label" [(ngModel)]="label.name" [disabled]="label.bln_disabled">
              </div>
              <div class="mx-1 col-1" style="display: contents;">
                <button mat-icon-button class="icon-cell" *ngIf="label.bln_disabled" (click)="enableEdit(i)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button class="icon-cell" *ngIf="!label.bln_disabled" (click)="editLabel(i)"><mat-icon>save</mat-icon></button>
              </div>
            </div>
          <!-- </tbody>
        </table> -->
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button extended class="rounded-3 p-4 fs-5" (click)="modal.close('Save click')">Done</button>
    </div>
  </ng-template>
  <!-- Modal Content End -->
</div>


  <!-- Notes Modal Content Start -->
  <ng-template #notescontent let-modal>
   
    <button mat-icon-button class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="position: absolute;
    top: -5%;
    right: -3%;
    z-index: 999;">
      <mat-icon class="fs-5">close</mat-icon>
    </button>
    
    <div class="modal-body m-0 p-0">
      <div class="mt-3 px-4" style="display: flex;">
        <input type="text" class="no-outline input-cell fs-5 bg-transparent" placeholder="Create new label" [(ngModel)]="newLabelTitle" style="flex: 1 1 auto;">
      </div>
      <div class="p-3 rounded box-shadow bg-transparent">
        <app-editor [(textContent)]="textContent"></app-editor>
      </div>
    </div>
    <div class="modal-footer p-1 mx-4">
      <button mat-icon-button class="me-2" aria-label="Notifications" (click)="modal.dismiss('Cross click')">
        <mat-icon class="fs-5">notifications_none</mat-icon>
      </button>
      <button mat-icon-button class="me-2" aria-label="Collaborators" (click)="modal.dismiss('Cross click')">
        <mat-icon class="fs-5">person_add_outline</mat-icon>
      </button>
      <button mat-icon-button class="me-2" aria-label="More" (click)="modal.dismiss('Cross click')">
        <mat-icon class="fs-5">color_lens_outline</mat-icon>
      </button>
      <button mat-icon-button class="me-2" aria-label="Archive" (click)="modal.dismiss('Cross click')">
        <mat-icon class="fs-5">archive_outline</mat-icon>
      </button>
      <button mat-icon-button class="me-2" aria-label="More" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      
      <span class="example-spacer"></span>
      <button mat-raised-button extended class="rounded-3 py-2 px-3 me-0 ml-4" (click)="modal.close('Save click')">Cancel</button>
      <button mat-raised-button extended class="rounded-3 py-2 px-3 me-0 ml-4" (click)="saveNewLabel()">Done</button>
    </div>
  </ng-template>
  <!-- Modal Content End -->

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>