.notes-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: max-content;
  
  /* Optional */
  // background-color: #f7f7f7;
  border-radius: 3px;
  padding: 20px;
  width: 100%;
  margin: 40px auto;
  counter-reset: items;
}

.item {
  width: 24%;
  /* Optional */
  position: relative;
  margin-bottom: 2%;
  // border-radius: 3px;
  background-color: transparent;
  // border: 1px solid #4290e2;
  box-shadow: none;
  // color: #fff;
  // padding: 15px;
  // box-sizing: border-box;
}
.item:hover {
  box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 40%);
}
.item-content {
  // max-height: 220px;
  overflow: hidden;
}
.btn-read-more {
  display: none;
}

 /* Just to print out numbers */
div.item::before {
  // counter-increment: items;
  // content: counter(items);
  // color: black;
}

/* Re-order items into 3 rows */
// .item:nth-of-type(4n+1) { order: 1; }
// .item:nth-of-type(4n+2) { order: 2; }
// .item:nth-of-type(4n+3) { order: 3; }
// .item:nth-of-type(4n)   { order: 4; }

/* Force new columns */
.break {
  flex-basis: 100%;
  width: 0;
  border: 1px solid #ddd;
  margin: 0;
  content: "";
  padding: 0;
}

body { font-family: sans-serif; }
h3 { text-align: center; }

.notes-box {
  margin: 0 auto;
}

@media (min-width: 614px) {
  .notes-box {
    max-width: 504px;
  }
}

@media (min-width: 840px) {
  .notes-box {
    max-width: 752px;
  }
}

@media (min-width: 1100px) {
  .notes-box {
    max-width: 1000px;
  }
}

@media (min-width: 1500px) {
  .notes-box {
    max-width: 1248px;
  }
}

@media (min-width: 1800px) {
  .notes-box {
    max-width: 1548px;
  }
}

@media (min-width: 2200px) {
  .notes-box {
    max-width: 1848px;
  }
}