.notes-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-evenly;
  /* Your container needs a fixed height, and it 
   * needs to be taller than your tallest column. */
  height: max-content;
  
  /* Optional */
  // background-color: #f7f7f7;
  border-radius: 3px;
  padding: 20px;
  width: 100%;
  margin: 0px auto;
  counter-reset: items;
}

.item {
  width: 24%;
  /* Optional */
  position: relative;
  margin-bottom: 2%;
  // border-radius: 3px;
  background-color: transparent;
  // border: 1px solid #4290e2;
  box-shadow: none;
  // color: #fff;
  // padding: 15px;
  // box-sizing: border-box;
}
.item:hover {
  box-shadow: 0px 0px 7px 2px rgb(0 0 0 / 40%);
  .note-footer {
    visibility: visible !important;
  }
}
.item-content {
  // max-height: 220px;
  overflow: hidden;
}
.btn-read-more {
  display: none;
}
.note-footer {
  visibility: hidden;
}

 /* Just to print out numbers */
div.item::before {
  // counter-increment: items;
  // content: counter(items);
  // color: black;
}

/* Re-order items into 3 rows */
// .item:nth-of-type(4n+1) { order: 1; }
// .item:nth-of-type(4n+2) { order: 2; }
// .item:nth-of-type(4n+3) { order: 3; }
// .item:nth-of-type(4n)   { order: 4; }

/* Force new columns */
.break {
  flex-basis: 100%;
  width: 0;
  border: 1px solid #ddd;
  margin: 0;
  content: "";
  padding: 0;
}

body { font-family: sans-serif; }
h3 { text-align: center; }

.notes-box {
  margin: 0 auto;
}

@media (min-width: 614px) {
  .notes-box {
    max-width: 504px;
  }
}

@media (min-width: 840px) {
  .notes-box {
    max-width: 752px;
  }
}

@media (min-width: 1100px) {
  .notes-box {
    max-width: 1000px;
  }
}

@media (min-width: 1500px) {
  .notes-box {
    max-width: 1248px;
  }
}

@media (min-width: 1800px) {
  .notes-box {
    max-width: 1548px;
  }
}

@media (min-width: 2200px) {
  .notes-box {
    max-width: 1848px;
  }
}

// .quill_editor {
  quill-editor {
    display: flex;
    flex-direction: column;
  
    .ql-editor.ql-blank::before {
      font-size: 14px;
      font-style: normal;
      color: gray !important;
      border: 0;
    }
  
    .ql-container .ql-editor {
      min-height: 120px;
      max-height: 120px;
      height: 120px;
      border: 0;
    }
  
    .ql-snow .ql-picker.ql-expanded .ql-picker-options {
      display: block;
      margin-top: -1px;
      top: 100%;
      z-index: 1;
      bottom: 100%;
      border: 0;
    }
    .ql-toolbar.ql-snow + .ql-container.ql-snow {
      border-top: 0;
      border-bottom: 0 !important;
    }
    .ql-container.ql-snow {
      border: 0 !important;
    }
    ::ng-deep .ql-container.ql-snow {
      border: 0 !important;
      border-color: transparent !important;
    }
  
    .ql-container {
      border: 0;
    }
  
    .ql-toolbar {
      order: 2;
      border: 0;
    }
  }
  
// }
// .truncate-chip {
//   max-width: 100%; /* Adjust width based on your design */
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: inline-block;
//   vertical-align: middle;
// }
