<app-layout>
  
  <!-- <quill-editor [modules]="quillModules" [(ngModel)]="editorContent"></quill-editor>  -->
  <!-- <br><br><br><br><br><br> -->
  
  
  

  <div class="notes-box">
    <div style="position: relative;">
      <div class="notes-container" id="dynamic-container">
        
        <div *ngFor="let note of notes_lst" class="item m-4 card example-ripple-container mat-elevation-z4" [ngStyle]="{'background-color': note.bg_color}" matRipple>
          <div class="card-header">
            Featured
          </div>
          <div class="card-body ">
            <h5 class="card-title">{{note.id}}. {{note.title}}</h5>
            <p class="card-text item-content">{{note.description}}</p>
            <a href="#" class="btn-primary btn-read-more">Read more</a>
          </div>
          <div class="card-footer text-body-secondary">
            <mat-chip-set aria-label="Chihuahua traits">
              <mat-chip>charming</mat-chip>
              <mat-chip>graceful</mat-chip>
              <mat-chip>sassy</mat-chip>
            </mat-chip-set>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  
</app-layout>

