.signin-card {
    max-width: 90%;
    width: 950px;
    background: #beafcdd9;
    // background: #241633d9;
    backdrop-filter: blur(3px);
}
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .signin-image-box {
    width: 100%;
    text-align: center;
    height: 100%;
    align-items: center;
    display: flex;
  }
  #circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}