<quill-editor style="border:0" color="white" [(ngModel)]="textContent" class="mat-typography">
    <!-- Quill Editor content will go here -->
    <div quill-editor-toolbar style="border: 0;">
      <span class="ql-formats">
        <select class="ql-header" title="Header">
          <!-- <option value="1"></option>
          <option value="2"></option> -->
          <option value="3"></option>
          <option value="4"></option>
          <option value="5"></option>
          <option value="6"></option>
          <option selected></option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" title="Bold"></button>
        <button class="ql-italic" title="Italic"></button>
        <button class="ql-underline" title="Underline"></button>
        <button class="ql-strike" title="Strikethrough"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-blockquote" title="Blockquote"></button>
        <button class="ql-code-block" title="Code Block"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-link" title="Link"></button>
        <button class="ql-image" title="Image"></button>
        <!-- <button class="ql-formula" title="Formula"></button> -->
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered" title="Ordered List"></button>
        <button class="ql-list" value="bullet" title="Bullet List"></button>
        <button class="ql-list" value="check" title="Checklist"></button>
      </span>
      <!-- <span class="ql-formats">
        <button class="ql-script" value="sub" title="Subscript"></button>
        <button class="ql-script" value="super" title="Superscript"></button>
      </span> -->
      <span class="ql-formats">
        <button class="ql-indent" value="-1" title="Decrease Indent"></button>
        <button class="ql-indent" value="+1" title="Increase Indent"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color" title="Text Color"></select>
        <select class="ql-background" title="Background Color"></select>
      </span>
      <span class="ql-formats">
        <select class="ql-align" title="Align"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-clean" title="Remove Formatting"></button>
      </span>
    </div>
</quill-editor>